.green {
	color: green;
}

.questions {
	padding: 10px;
}

.question-card {
	padding: 100px;
}

.answers {
	display: grid;
	grid-template-columns: 1fr ();
	grid-gap: 20px;
	padding: 20px;
}

label {
	height: 40px;
}

.quit {
	color: white;
	background-color: red;
}

.error {
	color: red;
}
